@charset "utf-8"; /* 브란도 트레버 원페이지형 */

@media all and (max-width:1600px){
	.section9-slide-content-text-wrap>li{display:block;}
	.section9-slide-content-text-wrap>li:nth-child(1){padding-bottom:5px;}
	.section9-slide-content-text-wrap>li:nth-child(2){padding:10px 0;border-top:1px solid rgba(255,255,255,0.1);}
}

@media all and (max-width:1200px){
	.mainBtn-wrap>a{margin:0 15px;transition:all 0.3s;}
	.iHeight-wrap>i{display:none;}
	.headerAside>li>span{display:none;}
	
	#section2{padding-top:110px;transition:all 0.3s;}
	#section3{padding:110px 0;transition:all 0.3s;}
	#section6{padding:110px 0;}
	#section7>div{padding:110px 0;}
	#section8{padding:110px 0;}
	#section9{padding:110px 0;}
	#section10{padding:110px 0;}
	#section11{padding:110px 0;}
}

@media all and (max-width:1100px){
	#section4>div>div>ul>li:nth-child(1){width:300px;transition:all 0.3s;}
	.section4-left-wrap{padding:20px;transition:all 0.3s;}
}

@media all and (max-width:1000px){
	#section2>div{max-width:750px;padding:0 15px;box-sizing:border-box;}
	.section2-photo-wrap>li{float:none;width:100%;max-width:720px;margin:0 auto;}		
	.section2-photo-wrap>li>div>img{width:100%;max-width:720px;}	
}

@media all and (max-width:990px){
	#header>div>div>ul{display:none;}
	.header-mobile-wrap{display:block;}
	
	#goTopBtn-wrap{right:-100%;}
	
	#section2{padding-top:80px;transition:all 0.3s;}
	
	#section3{padding:80px 0;transition:all 0.3s;}
	#section3>div{width:100%;max-width:750px;}
	.section3-content-wrap{padding:8.7719298% 0 0 0;}
	.section3-content-wrap>li{float:left;width:50%;padding:0 15px 40px 15px;box-sizing:border-box;}
	.section3-content-wrap>li:nth-child(3){padding-bottom:0;}
	.section3-content-wrap>li:nth-child(4){padding-bottom:0;}
	
	#section5{padding-top:80px;}
	.section5-Button-wrap{padding-top:40px;}
	
	#section6{padding:80px 0;}
	#section6>div{width:100%;max-width:750px;}
	.section6-content-wrap{padding-top:45px;}
	.section6-content-wrap>li{float:left;width:50%;}
	.section6-content-wrap>li>a>div>p{width:90%;margin:0 auto;}
	
	#section7>div{padding:80px 0;}
	.section7-gallery-wrap{padding-top:60px;}

	#section8{padding:80px 0;}
	#section8>div{width:100%;max-width:750px;margin:0 auto;}
	#section8>div>ul>li{float:left;width:50%;}
	#section8>div>ul>li:nth-child(1){margin-bottom:45px;}
	#section8>div>ul>li:nth-child(2){margin-bottom:45px;border:0;}
	
	#section9{padding:80px 0;}
	.section9-slide-content-text-wrap{padding:0;}
	.section9-slide-content-text-wrap>li:nth-child(1){display:none;padding:0;}
	.section9-slide-content-text-wrap>li:nth-child(2){padding:20px 0 10px 0;border:0;}
	
	#section10{padding:80px 0;}
	#section10>div{max-width:750px;}
	.section10-content-wrap{padding-top:60px;}
	.section10-content-wrap>li{float:none;}
	.section10-content-wrap>li:nth-child(1){width:100%;}
	.section10-content-wrap>li:nth-child(2){width:100%;padding-top:60px;}
	.section10-left-wrap{width:100%;}
	.section10-right-wrap{width:100%;margin-left:0;}
	
	#section11{padding:80px 0;}
	#section11>div{max-width:750px;}
	.section11-text-content{width:100%;padding-top:50px;}
	.form-content-wrap>li{float:none;width:100%;padding:0;}
	.section11-bottom-content{padding-top:30px;}
	.section11-bottom-content>li{padding:0;}
	.section11-bottom-content>li:last-child{text-align:right;padding:0;}
	.section11-bottom-content>li>p{padding:0;}
	.section11-bottom-content>li>button{float:right;margin:0;}
	
	#footer>div>h3{width:33%;}
}

@media all and (max-width:800px){
	.section7-gallery-wrap>li{float:none;width:100%;}
	.section7-gallery-wrap>li>div{padding:7.5px 15px; }
	
	#section7>div{padding:50px 0;}
	#section7>div>h2{font-size:26px;}
	#section7>div>h3{width:80%;margin:0 auto;line-height:140%;}
	.section7-gallery-wrap{padding-top:7.5%;}
	
	.section9-slide-wrap{padding-top:10.1910828%;}
	#section9>div>h3{width:90%;margin:0 auto;line-height:140%;}
}

@media all and (max-width:765px){
	.header-mobile-menu-wrap{padding:10px 0;}
	.header-mobile-menu-wrap>li{padding-top:10px;}
	
	#section2{padding-top:50px;transition:all 0.3s;}
	#section2>div>h2{font-size:26px;}
	
	#section5{padding-top:50px;}
	#section5>div>h2{font-size:26px;}
	.section5-Button-wrap{padding-top:60px;}
	.section5-Button-wrap>li{display:block;padding:5px 15px;}
	.section5-Button-wrap>li>a{display:inline-block;}
	
	#section6{padding:50px 0;}
	#section6>div{width:100%;}
	#section6>div>h2{font-size:26px;}
	.section6-content-wrap{padding-top:60px;}
	.section6-content-wrap>li{float:none;width:100%;}
	.section6-content-wrap>li>a>div>p{width:100%;}
	
	#section8{padding:50px 0;}
	#section8>div{width:100%;}
	#section8>div>ul>li{float:none;width:100%;border:0;}
	#section8>div>ul>li:nth-child(1){margin-bottom:12%;}
	#section8>div>ul>li:nth-child(2){margin-bottom:12%;}
	#section8>div>ul>li:nth-child(3){margin-bottom:12%;}
	#section8>div>ul>li:nth-child(4){margin-bottom:0;}
	
	#section9{padding:50px 0;}
	#section9>div>h2{font-size:26px;}
	
	#section10{padding:50px 0;}
	#section10>div{max-width:765px;}
	#section10>div>h2{font-size:26px;}
	.section10-content-wrap{padding-top:80px;}
	.section10-content-wrap>li{float:none;}
	.section10-right-wrap>ul>li{float:none;width:100%;}
	.section10-hotel-img-wrap>li>span{text-align:center;padding-top:6.9444444%;}
	.section10-hotel-img-wrap>li>i   {text-align:center;}
	.section10-hotel-text-wrap{margin-left:0;}
	.section10-hotel-text-wrap>li>span{padding-top:13.8888889%;}
	.section10-hotel-text-wrap>li>p	  {padding:4.8611111% 0;}
	.section10-hotel-text-wrap>li>ul{padding-bottom:6.9444444%;}
	
	#section11{padding:50px 0;}
	#section11>div{max-width:765px;}
	#section11>div>h2{font-size:26px;}
	.section11-text-content{padding-top:10.8843537%;}
	.section11-text-content>li{float:none;width:100%;padding:0 15px 10.8843537% 15px;}
	.section11-text-content>li:last-child{padding:0 15px 0 15px;}
	.section11-bottom-content>li{float:none;width:100%;}
	.section11-bottom-content>li>button{margin-top:10px;}
	#section11>div>i{margin:6.8027211% 0;}
	
	#footer>div>h3{width:100%;}
	#footer>div>div{padding:10.8843537% 0 0 0;}
	#footer>div>i{margin:10.8843537% 0;}
}

@media all and (max-width:760px){
	.section1-content>li{float:none;width:100%;max-width:730px;height:360px;}
	.section1-content>li>img{display:none;}
	
	.section1-right-content>ul{padding:6.8493151%;}
	.section1-right-content>ul>li>h2{font-size:22px;padding:0 0 45px 0;line-height:130%;}
	.section1-right-content>ul>li>i{width:20%;}
	.section1-right-content>ul>li>p{font-size:11px;padding:45px 0 60px 0;}
	.section1-right-content>ul>li>a{padding:11px 22px;}
	
	#section3{padding:60px 0;transition:all 0.3s;}
	#section3>div>h2{font-size:26px;}
	#section3>div>h3{width:90%;margin:0 auto;}
	.section3-content-wrap{padding:11.5942029% 0 0 0;}
	.section3-content-wrap>li{float:left;width:100%;padding-bottom:6.1540828%;}
	.section3-content-wrap>li:nth-child(3){padding-bottom:6.1540828%;}
	
	#section4>div{padding:60px 15px;margin:0 auto;}
	#section4>div>div>ul>li:nth-child(1){float:none;width:100%;max-width:320px;padding-bottom:50px;margin:0 auto;}
	#section4>div>div>ul>li:nth-child(2){float:none;width:100%;}
	.section4-left-wrap>li{padding:15px 0;}
	.section4-left-wrap>li>span{float:none;margin:0 auto;width:auto;padding:0;text-align:center;}
	.section4-left-wrap>li>h2  {float:none;margin:0 auto;width:auto;padding:0;}
	.section4-left-wrap>li>h2>span{width:100%;padding:11.5px 0;text-align:center;}
	.section4-right-wrap{padding-bottom:0;}
	
	.section4-right-wrap>li>div{padding:35px 0 25px 0;}
	.right-hidden-box>li:nth-child(1){float:none;width:37.5561644%;padding:0 15px 35px 15px;}
	.right-hidden-box>li:nth-child(2){float:none;width:100%;padding:0 15px;box-sizing:border-box;}
	.right-hidden-box>li:nth-child(2)>p{padding:0;}
}

@media all and (max-width:640px){
	.section2-text-wrap>li>span{font-size:14px;}
	.section2-text-wrap>li>p{line-height:140%;}
	.section2-text-wrap>li>i{display:none;}
}

@media all and (max-width:480px){
	#footer{padding:50px 0;}
}






